.ftr{
    background-image: url("../assets/images/more/13.jpg");
}
.cpy{
    background-image: url("../assets/images/more/24.jpg");
}
.lg{
    background-image: url("../assets/images/more/logo1.png");
}